h1 {
    text-align: center;
    color: gray;
}
.row {
    display: flex;
    justify-content: space-around;
}

.background-one {
    background-color: aquamarine;
    margin-top: 10px;
    padding: 20px;
}

.background-two {
    background-color: blueviolet;
    padding: 20px;
    margin-top: 20px;
}

.background-three {
    background-color: bisque;
    padding: 20px;
    margin-top: 20px;
}